# TODO: Then copy the publish files to the new folder instead of ignoring them  
.github
.vscode
examples
src
node_modules
.eslintignore
.eslintrc.js
.gitignore
package-lock.json
tsconfig.json
webpack.config.js
action.yml
lib
